# Shelter Intake & Outcome Analysis
## Notebook 1: Data Cleaning

This notebook focuses on loading, inspecting, and cleaning the Austin Animal Center intake and outcome dataset.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'..\data\aac_intakes_outcomes.csv')
df.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,dob_year,dob_month,dob_monthyear,age_upon_intake,animal_id_intake,animal_type,breed,color,found_location,intake_condition,intake_type,sex_upon_intake,count,age_upon_intake_(days),age_upon_intake_(years),age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,12,2017,2017-12,Thursday,0,1.0,2007,7,2017-12,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Neutered Male,1,3650,10.0,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,12,2014,2014-12,Saturday,16,2.0,2007,7,2014-12,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,8700 Research Blvd in Austin (TX),Normal,Public Assist,Neutered Male,1,2555,7.0,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,3,2014,2014-03,Saturday,17,3.0,2007,7,2014-03,6 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,8700 Research in Austin (TX),Normal,Public Assist,Neutered Male,1,2190,6.0,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,4,2014,2014-04,Monday,15,1.0,2004,4,2014-04,10 years,A047759,Dog,Dachshund,Tricolor,Austin (TX),Normal,Owner Surrender,Neutered Male,1,3650,10.0,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,11,2013,2013-11,Saturday,11,1.0,1997,10,2013-11,16 years,A134067,Dog,Shetland Sheepdog,Brown/White,12034 Research Blvd in Austin (TX),Injured,Public Assist,Neutered Male,1,5840,16.0,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79672 entries, 0 to 79671
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age_upon_outcome            79672 non-null  object
 1   animal_id_outcome           79672 non-null  object
 2   date_of_birth               79672 non-null  object
 3   outcome_subtype             36348 non-null  object
 4   outcome_type                79662 non-null  object
 5   sex_upon_outcome            79671 non-null  object
 6   age_upon_outcome_(days)     79672 non-null  int64
 7   age_upon_outcome_(years)    79672 non-null  float64
 8   age_upon_outcome_age_group  79672 non-null  object
 9   outcome_datetime            79672 non-null  object
 10  outcome_month               79672 non-null  int64
 11  outcome_year                79672 non-null  int64
 12  outcome_monthyear           79672 non-null  object
 13  outcome_weekday             79672 non-null  object
 14  outcome_hour                79672 non-null  int64
 15  outcome_number              79672 non-null  float64
 16  dob_year                    79672 non-null  int64
 17  dob_month                   79672 non-null  int64
 18  dob_monthyear               79672 non-null  object
 19  age_upon_intake             79672 non-null  object
 20  animal_id_intake            79672 non-null  object
 21  animal_type                 79672 non-null  object
 22  breed                       79672 non-null  object
 23  color                       79672 non-null  object
 24  found_location              79672 non-null  object
 25  intake_condition            79672 non-null  object
 26  intake_type                 79672 non-null  object
 27  sex_upon_intake             79671 non-null  object
 28  count                       79672 non-null  int64
 29  age_upon_intake_(days)      79672 non-null  int64
 30  age_upon_intake_(years)     79672 non-null  float64
 31  age_upon_intake_age_group   79672 non-null  object
 32  intake_datetime             79672 non-null  object
 33  intake_month                79672 non-null  int64
 34  intake_year                 79672 non-null  int64
 35  intake_monthyear            79672 non-null  object
 36  intake_weekday              79672 non-null  object
 37  intake_hour                 79672 non-null  int64
 38  intake_number               79672 non-null  float64
 39  time_in_shelter             79672 non-null  object
 40  time_in_shelter_days        79672 non-null  float64
dtypes: float64(5), int64(11), object(25)
memory usage: 24.9+ MB

In [4]:
df.describe(include='all')

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,dob_year,dob_month,dob_monthyear,age_upon_intake,animal_id_intake,animal_type,breed,color,found_location,intake_condition,intake_type,sex_upon_intake,count,age_upon_intake_(days),age_upon_intake_(years),age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
count,79672,79672,79672,36348,79662,79671,79672.000000,79672.000000,79672,79672,79672.000000,79672.000000,79672,79672,79672.000000,79672.000000,79672.000000,79672.000000,79672,79672,79672,79672,79672,79672,79672,79672,79672,79671,79672.0,79672.000000,79672.000000,79672,79672,79672.000000,79672.000000,79672,79672,79672.000000,79672.000000,79672,79672.000000
unique,46,71961,5923,19,9,5,NaN,NaN,10,65686,NaN,NaN,55,7,NaN,NaN,NaN,NaN,55,46,71961,4,2155,529,36576,8,5,5,NaN,NaN,NaN,10,56747,NaN,NaN,54,7,NaN,NaN,29319,NaN
top,1 year,A721033,2014-05-05 00:00:00,Partner,Adoption,Neutered Male,NaN,NaN,"(-0.025, 2.5]",2016-04-18 00:00:00,NaN,NaN,2014-07,Saturday,NaN,NaN,NaN,NaN,2014-07,1 year,A721033,Dog,Domestic Shorthair Mix,Black/White,Austin (TX),Normal,Stray,Intact Male,NaN,NaN,NaN,"(-0.025, 2.5]",2016-09-23 12:00:00,NaN,NaN,2015-06,Saturday,NaN,NaN,0 days 00:14:00.000000000,NaN
freq,14750,13,112,19840,33594,28293,NaN,NaN,59412,39,NaN,NaN,2072,12848,NaN,NaN,NaN,NaN,2072,14580,13,45366,23423,8270,14311,70056,55935,25317,NaN,NaN,NaN,59593,64,NaN,NaN,2188,12037,NaN,NaN,77,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,782.046127,2.142592,NaN,NaN,6.655425,2015.472563,NaN,NaN,14.297306,1.126820,2013.254870,6.310310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,769.341701,2.107785,NaN,NaN,6.584032,2015.436101,NaN,NaN,13.487022,1.126820,NaN,16.757116
std,NaN,NaN,NaN,NaN,NaN,NaN,1058.528519,2.900078,NaN,NaN,3.414284,1.305944,NaN,NaN,3.774317,0.456057,3.216517,3.289077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1056.009040,2.893175,NaN,NaN,3.366579,1.303157,NaN,NaN,3.121173,0.456057,NaN,41.679359
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,1.000000,2013.000000,NaN,NaN,0.000000,1.000000,1991.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000000,0.000000,NaN,NaN,1.000000,2013.000000,NaN,NaN,0.000000,1.000000,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,0.246575,NaN,NaN,4.000000,2014.000000,NaN,NaN,12.000000,1.000000,2012.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,60.000000,0.164384,NaN,NaN,4.000000,2014.000000,NaN,NaN,11.000000,1.000000,NaN,1.102083
50%,NaN,NaN,NaN,NaN,NaN,NaN,365.000000,1.000000,NaN,NaN,7.000000,2015.000000,NaN,NaN,15.000000,1.000000,2014.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,365.000000,1.000000,NaN,NaN,7.000000,2015.000000,NaN,NaN,13.000000,1.000000,NaN,4.987153
75%,NaN,NaN,NaN,NaN,NaN,NaN,1095.000000,3.000000,NaN,NaN,10.000000,2017.000000,NaN,NaN,17.000000,1.000000,2015.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1095.000000,3.000000,NaN,NaN,10.000000,2017.000000,NaN,NaN,16.000000,1.000000,NaN,13.610764
max,NaN,NaN,NaN,NaN,NaN,NaN,9125.000000,25.000000,NaN,NaN,12.000000,2018.000000,NaN,NaN,23.000000,13.000000,2018.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9125.000000,25.000000,NaN,NaN,12.000000,2018.000000,NaN,NaN,23.000000,13.000000,NaN,1606.194444

In [5]:
df.isna().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43324
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64

In [6]:
df = pd.read_csv('../data/aac_intakes_outcomes.csv')
df.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,dob_year,dob_month,dob_monthyear,age_upon_intake,animal_id_intake,animal_type,breed,color,found_location,intake_condition,intake_type,sex_upon_intake,count,age_upon_intake_(days),age_upon_intake_(years),age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,12,2017,2017-12,Thursday,0,1.0,2007,7,2017-12,10 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Neutered Male,1,3650,10.0,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,12,2014,2014-12,Saturday,16,2.0,2007,7,2014-12,7 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,8700 Research Blvd in Austin (TX),Normal,Public Assist,Neutered Male,1,2555,7.0,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,3,2014,2014-03,Saturday,17,3.0,2007,7,2014-03,6 years,A006100,Dog,Spinone Italiano Mix,Yellow/White,8700 Research in Austin (TX),Normal,Public Assist,Neutered Male,1,2190,6.0,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,4,2014,2014-04,Monday,15,1.0,2004,4,2014-04,10 years,A047759,Dog,Dachshund,Tricolor,Austin (TX),Normal,Owner Surrender,Neutered Male,1,3650,10.0,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,11,2013,2013-11,Saturday,11,1.0,1997,10,2013-11,16 years,A134067,Dog,Shetland Sheepdog,Brown/White,12034 Research Blvd in Austin (TX),Injured,Public Assist,Neutered Male,1,5840,16.0,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [7]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('-', '_')
)
df.columns

Index(['age_upon_outcome', 'animal_id_outcome', 'date_of_birth',
       'outcome_subtype', 'outcome_type', 'sex_upon_outcome',
       'age_upon_outcome_(days)', 'age_upon_outcome_(years)',
       'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month',
       'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_hour',
       'outcome_number', 'dob_year', 'dob_month', 'dob_monthyear',
       'age_upon_intake', 'animal_id_intake', 'animal_type', 'breed', 'color',
       'found_location', 'intake_condition', 'intake_type', 'sex_upon_intake',
       'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)',
       'age_upon_intake_age_group', 'intake_datetime', 'intake_month',
       'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour',
       'intake_number', 'time_in_shelter', 'time_in_shelter_days'],
      dtype='object')

In [8]:
df.duplicated().sum()

np.int64(35)

In [9]:
df = df.drop_duplicates()

In [10]:
for col in df.select_dtypes(include='object'):
    print(col, df[col].unique()[:20])
    print

age_upon_outcome ['10 years' '7 years' '6 years' '16 years' '15 years' '18 years'
 '14 years' '17 years' '13 years' '19 years' '12 years' '20 years'
 '11 years' '9 years' '5 years' '8 years' '3 years' '4 years' '1 year'
 '11 months']
animal_id_outcome ['A006100' 'A047759' 'A134067' 'A141142' 'A163459' 'A165752' 'A178569'
 'A189592' 'A191351' 'A197810' 'A200922' 'A208755' 'A210457' 'A212672'
 'A214991' 'A215368' 'A218622' 'A218624' 'A221327' 'A221448']
date_of_birth ['2007-07-09 00:00:00' '2004-04-02 00:00:00' '1997-10-16 00:00:00'
 '1998-06-01 00:00:00' '1999-10-19 00:00:00' '1999-08-18 00:00:00'
 '1999-03-17 00:00:00' '1997-08-01 00:00:00' '1999-08-21 00:00:00'
 '2000-01-21 00:00:00' '1997-10-03 00:00:00' '2000-04-27 00:00:00'
 '1999-06-01 00:00:00' '2000-03-05 00:00:00' '1994-03-01 00:00:00'
 '2001-01-17 00:00:00' '1998-10-19 00:00:00' '1999-05-02 00:00:00'
 '2000-11-29 00:00:00' '2000-06-17 00:00:00']
outcome_subtype [nan 'Partner' 'Foster' 'Suffering' 'Medical' 'Behavior' 'In Kennel'
 'Aggressive' 'Rabies Risk' 'In Foster' 'At Vet' 'Offsite' 'Snr'
 'Possible Theft' 'SCRP' 'Court/Investigation' 'Enroute' 'In Surgery'
 'Barn' 'Underage']
outcome_type ['Return to Owner' 'Transfer' 'Adoption' 'Euthanasia' 'Died' 'Rto-Adopt'
 'Missing' 'Disposal' nan 'Relocate']
sex_upon_outcome ['Neutered Male' 'Spayed Female' 'Intact Female' 'Intact Male' 'Unknown'
 nan]
age_upon_outcome_age_group ['(7.5, 10.0]' '(5.0, 7.5]' '(15.0, 17.5]' '(12.5, 15.0]' '(17.5, 20.0]'
 '(10.0, 12.5]' '(2.5, 5.0]' '(-0.025, 2.5]' '(20.0, 22.5]' '(22.5, 25.0]']
outcome_datetime ['2017-12-07 14:07:00' '2014-12-20 16:35:00' '2014-03-08 17:10:00'
 '2014-04-07 15:12:00' '2013-11-16 11:54:00' '2013-11-17 11:40:00'
 '2014-11-14 19:28:00' '2014-09-15 16:35:00' '2014-03-23 15:57:00'
 '2015-09-18 19:04:00' '2015-11-17 13:29:00' '2014-12-22 15:23:00'
 '2013-11-22 09:44:00' '2015-02-17 16:25:00' '2016-10-07 12:34:00'
 '2013-12-06 14:34:00' '2013-12-14 13:28:00' '2014-08-04 16:31:00'
 '2013-12-02 17:09:00' '2013-12-02 17:11:00']
outcome_monthyear ['2017-12' '2014-12' '2014-03' '2014-04' '2013-11' '2014-11' '2014-09'
 '2015-09' '2015-11' '2015-02' '2016-10' '2013-12' '2014-08' '2015-04'
 '2013-10' '2015-10' '2015-03' '2014-07' '2016-06' '2014-01']
outcome_weekday ['Thursday' 'Saturday' 'Monday' 'Sunday' 'Friday' 'Tuesday' 'Wednesday']
dob_monthyear ['2017-12' '2014-12' '2014-03' '2014-04' '2013-11' '2014-11' '2014-09'
 '2015-09' '2015-11' '2015-02' '2016-10' '2013-12' '2014-08' '2015-04'
 '2013-10' '2015-10' '2015-03' '2014-07' '2016-06' '2014-01']
age_upon_intake ['10 years' '7 years' '6 years' '16 years' '15 years' '18 years'
 '14 years' '17 years' '13 years' '19 years' '12 years' '20 years'
 '11 years' '9 years' '5 years' '8 years' '3 years' '4 years' '1 year'
 '11 months']
animal_id_intake ['A006100' 'A047759' 'A134067' 'A141142' 'A163459' 'A165752' 'A178569'
 'A189592' 'A191351' 'A197810' 'A200922' 'A208755' 'A210457' 'A212672'
 'A214991' 'A215368' 'A218622' 'A218624' 'A221327' 'A221448']
animal_type ['Dog' 'Cat' 'Other' 'Bird']
breed ['Spinone Italiano Mix' 'Dachshund' 'Shetland Sheepdog'
 'Labrador Retriever/Pit Bull' 'Miniature Schnauzer Mix' 'Lhasa Apso Mix'
 'Shetland Sheepdog Mix' 'Domestic Longhair Mix' 'American Shorthair Mix'
 'Dachshund Mix' 'Border Collie Mix' 'Chihuahua Shorthair'
 'German Shepherd/Labrador Retriever' 'Domestic Shorthair'
 'Newfoundland Mix' 'Pug' 'Staffordshire Mix' 'Labrador Retriever Mix'
 'Labrador Retriever/Beagle' 'Catahoula/Labrador Retriever']
color ['Yellow/White' 'Tricolor' 'Brown/White' 'Black/White' 'Black/Gray'
 'White/Black' 'Brown Tabby/White' 'Black/Tan' 'Tan/Black' 'Black'
 'Gold/Gold' 'Sable/White' 'Blue Merle/Tan' 'Blue Merle' 'Brown/Black'
 'Black/Tricolor' 'Gray/White' 'Black/Black' 'Tan' 'Black/Brown']
found_location ['Colony Creek And Hunters Trace in Austin (TX)'
 '8700 Research Blvd in Austin (TX)' '8700 Research in Austin (TX)'
 'Austin (TX)' '12034 Research Blvd in Austin (TX)'
 'Ih 35 And 41St St in Austin (TX)'
 'Gatlin Gun Rd And Brodie in Austin (TX)'
 'Chesney And Slaughter in Austin (TX)'
 '1912 E William Cannon Rd in Austin (TX)'
 '4616 E Cesar Chavez in Austin (TX)' '4424 S Mopac #412 in Austin (TX)'
 '14611  Wells Port Dr in Austin (TX)' 'Clay/Ulrich in Austin (TX)'
 '7400 Arrowmound in Austin (TX)'
 'Silver Spring Dr And Mesa Dr in Austin (TX)'
 'Wheless Ln And Berkman Dr in Austin (TX)' 'Lincolnshire in Austin (TX)'
 '12317 Wycliff Ln in Austin (TX)' '1401 E Rundberg Ln in Austin (TX)'
 'Westgate & Cameron Loop in Austin (TX)']
intake_condition ['Normal' 'Injured' 'Aged' 'Sick' 'Other' 'Feral' 'Pregnant' 'Nursing']
intake_type ['Stray' 'Public Assist' 'Owner Surrender' 'Euthanasia Request' 'Wildlife']
sex_upon_intake ['Neutered Male' 'Spayed Female' 'Intact Female' 'Intact Male' 'Unknown'
 nan]
age_upon_intake_age_group ['(7.5, 10.0]' '(5.0, 7.5]' '(15.0, 17.5]' '(12.5, 15.0]' '(17.5, 20.0]'
 '(10.0, 12.5]' '(2.5, 5.0]' '(-0.025, 2.5]' '(20.0, 22.5]' '(22.5, 25.0]']
intake_datetime ['2017-12-07 00:00:00' '2014-12-19 10:21:00' '2014-03-07 14:26:00'
 '2014-04-02 15:55:00' '2013-11-16 09:02:00' '2013-11-16 14:46:00'
 '2014-11-14 15:11:00' '2014-09-15 11:28:00' '2014-03-17 09:45:00'
 '2015-09-18 17:46:00' '2015-11-13 15:57:00' '2014-12-08 12:30:00'
 '2013-10-03 15:47:00' '2015-02-17 13:17:00' '2016-09-28 12:05:00'
 '2013-11-25 17:18:00' '2013-12-14 11:51:00' '2014-08-04 13:51:00'
 '2013-12-02 15:33:00' '2015-04-28 15:08:00']
intake_monthyear ['2017-12' '2014-12' '2014-03' '2014-04' '2013-11' '2014-11' '2014-09'
 '2015-09' '2015-11' '2013-10' '2015-02' '2016-09' '2013-12' '2014-08'
 '2015-04' '2015-10' '2015-03' '2014-07' '2016-06' '2015-05']
intake_weekday ['Thursday' 'Friday' 'Wednesday' 'Saturday' 'Monday' 'Tuesday' 'Sunday']
time_in_shelter ['0 days 14:07:00.000000000' '1 days 06:14:00.000000000'
 '1 days 02:44:00.000000000' '4 days 23:17:00.000000000'
 '0 days 02:52:00.000000000' '0 days 20:54:00.000000000'
 '0 days 04:17:00.000000000' '0 days 05:07:00.000000000'
 '6 days 06:12:00.000000000' '0 days 01:18:00.000000000'
 '3 days 21:32:00.000000000' '14 days 02:53:00.000000000'
 '49 days 17:57:00.000000000' '0 days 03:08:00.000000000'
 '9 days 00:29:00.000000000' '10 days 21:16:00.000000000'
 '0 days 01:37:00.000000000' '0 days 02:40:00.000000000'
 '0 days 01:36:00.000000000' '0 days 01:38:00.000000000']

In [11]:
for col in df.select_dtypes(include='object'):
    df[col] = df[col].str.strip().str.lower()

In [12]:
df.sample(10)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,dob_year,dob_month,dob_monthyear,age_upon_intake,animal_id_intake,animal_type,breed,color,found_location,intake_condition,intake_type,sex_upon_intake,count,age_upon_intake_(days),age_upon_intake_(years),age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
60524,9 years,a740108,2007-12-11 00:00:00,partner,transfer,spayed female,3285,9.000000,"(7.5, 10.0]",2016-12-12 14:58:00,12,2016,2016-12,monday,14,1.0,2007,12,2016-12,9 years,a740108,cat,domestic shorthair mix,calico,austin (tx),sick,owner surrender,spayed female,1,3285,9.000000,"(7.5, 10.0]",2016-12-11 12:12:00,12,2016,2016-12,sunday,12,1.0,1 days 02:46:00.000000000,1.115278
38103,4 years,a710014,2011-08-17 00:00:00,NaN,return to owner,neutered male,1460,4.000000,"(2.5, 5.0]",2015-08-20 17:13:00,8,2015,2015-08,thursday,17,1.0,2011,8,2015-08,4 years,a710014,dog,cane corso,brown brindle,king albert st and sirocco dr in austin (tx),normal,stray,neutered male,1,1460,4.000000,"(2.5, 5.0]",2015-08-20 15:05:00,8,2015,2015-08,thursday,15,1.0,0 days 02:08:00.000000000,0.088889
79532,8 years,a768748,2010-03-24 00:00:00,NaN,return to owner,neutered male,2920,8.000000,"(7.5, 10.0]",2018-03-24 18:35:00,3,2018,2018-03,saturday,18,1.0,2010,3,2018-03,8 years,a768748,dog,labrador retriever mix,black,3001 south congress avenue in austin (tx),normal,stray,neutered male,1,2920,8.000000,"(7.5, 10.0]",2018-03-24 15:15:00,3,2018,2018-03,saturday,15,1.0,0 days 03:20:00.000000000,0.138889
46013,3 months,a720655,2015-11-13 00:00:00,NaN,adoption,spayed female,90,0.246575,"(-0.025, 2.5]",2016-02-18 17:07:00,2,2016,2016-02,thursday,17,1.0,2015,11,2016-02,3 months,a720655,dog,collie smooth mix,brown brindle/white,2304 perry ave in austin (tx),normal,stray,intact female,1,90,0.246575,"(-0.025, 2.5]",2016-02-13 13:24:00,2,2016,2016-02,saturday,13,1.0,5 days 03:43:00.000000000,5.154861
73365,9 years,a758598,2008-09-25 00:00:00,suffering,euthanasia,neutered male,3285,9.000000,"(7.5, 10.0]",2017-09-27 14:28:00,9,2017,2017-09,wednesday,14,1.0,2008,9,2017-09,8 years,a758598,cat,domestic shorthair,brown tabby,12716 yearling cv in austin (tx),sick,stray,neutered male,1,2920,8.000000,"(7.5, 10.0]",2017-09-19 11:06:00,9,2017,2017-09,tuesday,11,1.0,8 days 03:22:00.000000000,8.140278
11153,7 months,a674344,2013-08-11 00:00:00,NaN,adoption,spayed female,210,0.575342,"(-0.025, 2.5]",2014-03-14 18:23:00,3,2014,2014-03,friday,18,2.0,2013,8,2014-03,6 months,a674344,dog,bruss griffon/chihuahua shorthair,tan,austin (tx),normal,owner surrender,intact female,1,180,0.493151,"(-0.025, 2.5]",2014-03-11 16:34:00,3,2014,2014-03,tuesday,16,2.0,3 days 01:49:00.000000000,3.075694
8559,2 years,a670421,2012-01-07 00:00:00,partner,transfer,intact female,730,2.000000,"(-0.025, 2.5]",2014-01-10 11:25:00,1,2014,2014-01,friday,11,1.0,2012,1,2014-01,2 years,a670421,dog,shih tzu,black/white,aldrich st and simond blvd in austin (tx),normal,stray,intact female,1,730,2.000000,"(-0.025, 2.5]",2014-01-07 18:35:00,1,2014,2014-01,tuesday,18,1.0,2 days 16:50:00.000000000,2.701389
34882,2 months,a705590,2015-04-12 00:00:00,NaN,adoption,neutered male,60,0.164384,"(-0.025, 2.5]",2015-06-23 18:29:00,6,2015,2015-06,tuesday,18,2.0,2015,4,2015-06,2 months,a705590,dog,australian shepherd/labrador retriever,black brindle,4510 tejas in austin (tx),normal,stray,intact male,1,60,0.164384,"(-0.025, 2.5]",2015-06-19 13:02:00,6,2015,2015-06,friday,13,2.0,4 days 05:27:00.000000000,4.227083
62927,7 years,a743705,2011-01-23 00:00:00,partner,transfer,neutered male,2555,7.000000,"(5.0, 7.5]",2018-03-08 09:00:00,3,2018,2018-03,thursday,9,1.0,2011,1,2018-03,6 years,a743705,dog,beagle mix,tan/black,outside jurisdiction,normal,owner surrender,neutered male,1,2190,6.000000,"(5.0, 7.5]",2017-11-21 14:21:00,11,2017,2017-11,tuesday,14,1.0,106 days 18:39:00.000000000,106.777083
18184,2 years,a683659,2012-07-13 00:00:00,scrp,transfer,intact female,730,2.000000,"(-0.025, 2.5]",2014-07-16 09:00:00,7,2014,2014-07,wednesday,9,1.0,2012,7,2014-07,2 years,a683659,cat,domestic medium hair mix,black/white,1500 royal crest in austin (tx),normal,stray,intact female,1,730,2.000000,"(-0.025, 2.5]",2014-07-13 13:53:00,7,2014,2014-07,sunday,13,1.0,2 days 19:07:00.000000000,2.796528

# Key Derived Features for Analysis
These will be the features this project will rely on to answer questions regarding seasonality patterns, adoption trends, length-of-stay analysis, and age-based outcomes.

In [13]:
#Length of Stay
df['time_in_shelter_days']

0        0.588194
1        1.259722
2        1.113889
3        4.970139
4        0.119444
           ...
79667    0.077083
79668    0.053472
79669    0.047917
79670    1.762500
79671    0.813889
Name: time_in_shelter_days, Length: 79637, dtype: float64

In [14]:
#Age at Intake
df['age_upon_intake_(years)']

0        10.000000
1         7.000000
2         6.000000
3        10.000000
4        16.000000
           ...
79667     0.038356
79668     2.000000
79669     1.000000
79670     0.410959
79671    10.000000
Name: age_upon_intake_(years), Length: 79637, dtype: float64

In [15]:
#Intake Year and Month
df['intake_year']
df['intake_month']

0        12
1        12
2         3
3         4
4        11
         ..
79667     3
79668     3
79669     3
79670     3
79671     3
Name: intake_month, Length: 79637, dtype: int64

In [16]:
#Outcome Year and Month
df['outcome_year']
df['outcome_month']

0        12
1        12
2         3
3         4
4        11
         ..
79667     3
79668     3
79669     3
79670     3
79671     3
Name: outcome_month, Length: 79637, dtype: int64

In [17]:
# grouped outcome categories
positive = ['adoption', 'return to owner', 'transfer', 'relocate']
negative = ['euthanasia', 'died']
neutral = ['missing']

def categorize_outcome(x):
    if x in positive:
        return 'positive'
    if x in negative:
        return 'negative'
    return 'neutral'

df['outcome_category'] = df['outcome_type'].apply(categorize_outcome)

In [18]:
# Fill missing values
df.isna().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43304
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
outcome_category                  0
dtype: int64

In [19]:
df['outcome_type'] = df['outcome_type'].fillna('unknown')
df['sex_upon_outcome'] = df['sex_upon_outcome'].fillna('unknown')
df['sex_upon_intake'] = df['sex_upon_intake'].fillna('unknown')
df.drop(columns=['outcome_subtype'], inplace=True)

In [20]:
# Convert string data into 'days' numerical data

def convert_age_to_days(age_str):
    if pd.isna(age_str):
        return np.nan
    if isinstance(age_str, (int, float)):
        return age_str

    parts = str(age_str).split()
    if len(parts) != 2:
        return np.nan

    value, unit = parts
    try:
        value = float(value)
    except:
        return np.nan

    unit = unit.lower()

    if 'year' in unit:
        return value * 365
    if 'month' in unit:
        return value * 30
    if 'week' in unit:
        return value * 7
    if 'day' in unit:
        return value

    return np.nan

In [21]:
df['age_upon_intake'] = df['age_upon_intake'].apply(convert_age_to_days)
df['age_upon_intake']

0        3650.0
1        2555.0
2        2190.0
3        3650.0
4        5840.0
          ...
79667      14.0
79668     730.0
79669     365.0
79670     150.0
79671    3650.0
Name: age_upon_intake, Length: 79637, dtype: float64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79637 entries, 0 to 79671
Data columns (total 41 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age_upon_outcome            79637 non-null  object
 1   animal_id_outcome           79637 non-null  object
 2   date_of_birth               79637 non-null  object
 3   outcome_type                79637 non-null  object
 4   sex_upon_outcome            79637 non-null  object
 5   age_upon_outcome_(days)     79637 non-null  int64
 6   age_upon_outcome_(years)    79637 non-null  float64
 7   age_upon_outcome_age_group  79637 non-null  object
 8   outcome_datetime            79637 non-null  object
 9   outcome_month               79637 non-null  int64
 10  outcome_year                79637 non-null  int64
 11  outcome_monthyear           79637 non-null  object
 12  outcome_weekday             79637 non-null  object
 13  outcome_hour                79637 non-null  int64
 14  outcome_number              79637 non-null  float64
 15  dob_year                    79637 non-null  int64
 16  dob_month                   79637 non-null  int64
 17  dob_monthyear               79637 non-null  object
 18  age_upon_intake             79637 non-null  float64
 19  animal_id_intake            79637 non-null  object
 20  animal_type                 79637 non-null  object
 21  breed                       79637 non-null  object
 22  color                       79637 non-null  object
 23  found_location              79637 non-null  object
 24  intake_condition            79637 non-null  object
 25  intake_type                 79637 non-null  object
 26  sex_upon_intake             79637 non-null  object
 27  count                       79637 non-null  int64
 28  age_upon_intake_(days)      79637 non-null  int64
 29  age_upon_intake_(years)     79637 non-null  float64
 30  age_upon_intake_age_group   79637 non-null  object
 31  intake_datetime             79637 non-null  object
 32  intake_month                79637 non-null  int64
 33  intake_year                 79637 non-null  int64
 34  intake_monthyear            79637 non-null  object
 35  intake_weekday              79637 non-null  object
 36  intake_hour                 79637 non-null  int64
 37  intake_number               79637 non-null  float64
 38  time_in_shelter             79637 non-null  object
 39  time_in_shelter_days        79637 non-null  float64
 40  outcome_category            79637 non-null  object
dtypes: float64(6), int64(11), object(24)
memory usage: 25.5+ MB

In [23]:
df.isna().sum()

age_upon_outcome              0
animal_id_outcome             0
date_of_birth                 0
outcome_type                  0
sex_upon_outcome              0
age_upon_outcome_(days)       0
age_upon_outcome_(years)      0
age_upon_outcome_age_group    0
outcome_datetime              0
outcome_month                 0
outcome_year                  0
outcome_monthyear             0
outcome_weekday               0
outcome_hour                  0
outcome_number                0
dob_year                      0
dob_month                     0
dob_monthyear                 0
age_upon_intake               0
animal_id_intake              0
animal_type                   0
breed                         0
color                         0
found_location                0
intake_condition              0
intake_type                   0
sex_upon_intake               0
count                         0
age_upon_intake_(days)        0
age_upon_intake_(years)       0
age_upon_intake_age_group     0
intake_datetime               0
intake_month                  0
intake_year                   0
intake_monthyear              0
intake_weekday                0
intake_hour                   0
intake_number                 0
time_in_shelter               0
time_in_shelter_days          0
outcome_category              0
dtype: int64

In [24]:
df.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,dob_year,dob_month,dob_monthyear,age_upon_intake,animal_id_intake,animal_type,breed,color,found_location,intake_condition,intake_type,sex_upon_intake,count,age_upon_intake_(days),age_upon_intake_(years),age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,outcome_category
0,10 years,a006100,2007-07-09 00:00:00,return to owner,neutered male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,12,2017,2017-12,thursday,0,1.0,2007,7,2017-12,3650.0,a006100,dog,spinone italiano mix,yellow/white,colony creek and hunters trace in austin (tx),normal,stray,neutered male,1,3650,10.0,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,thursday,14,1.0,0 days 14:07:00.000000000,0.588194,positive
1,7 years,a006100,2007-07-09 00:00:00,return to owner,neutered male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,12,2014,2014-12,saturday,16,2.0,2007,7,2014-12,2555.0,a006100,dog,spinone italiano mix,yellow/white,8700 research blvd in austin (tx),normal,public assist,neutered male,1,2555,7.0,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,friday,10,2.0,1 days 06:14:00.000000000,1.259722,positive
2,6 years,a006100,2007-07-09 00:00:00,return to owner,neutered male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,3,2014,2014-03,saturday,17,3.0,2007,7,2014-03,2190.0,a006100,dog,spinone italiano mix,yellow/white,8700 research in austin (tx),normal,public assist,neutered male,1,2190,6.0,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,friday,14,3.0,1 days 02:44:00.000000000,1.113889,positive
3,10 years,a047759,2004-04-02 00:00:00,transfer,neutered male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,4,2014,2014-04,monday,15,1.0,2004,4,2014-04,3650.0,a047759,dog,dachshund,tricolor,austin (tx),normal,owner surrender,neutered male,1,3650,10.0,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,wednesday,15,1.0,4 days 23:17:00.000000000,4.970139,positive
4,16 years,a134067,1997-10-16 00:00:00,return to owner,neutered male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,11,2013,2013-11,saturday,11,1.0,1997,10,2013-11,5840.0,a134067,dog,shetland sheepdog,brown/white,12034 research blvd in austin (tx),injured,public assist,neutered male,1,5840,16.0,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,saturday,9,1.0,0 days 02:52:00.000000000,0.119444,positive

In [25]:
df.to_csv('../processed/aac_cleaned.csv', index=False)